<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#misalud-navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a
        href="https://www.gob.mx/misalud/index.html" class="navbar-brand logo-brand"><img src="assets/img/ms_logo.svg" /></a>
    </div>
    <div id="misalud-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hide-on-desktop [object Object]"><a href="https://www.gob.mx/misalud/que-es.html">¿Qué es?</a></li>
        <li class="hide-on-desktop [object Object]"><a href="https://www.gob.mx/misalud/materna.html">Materna</a></li>
        <li class="hide-on-desktop [object Object]"><a href="https://www.gob.mx/misalud/enfermedades.html">Diabetes y sobrepeso</a></li>
        <li class="hide-on-desktop [object Object]"><a href="https://www.gob.mx/misalud/generacion-sin-adiccion.html">#GeneraciónSinAdicción</a></li>
        <li class="hide-on-desktop [object Object]"><a href="https://www.gob.mx/misalud/vacunacion.html">Vacunación</a></li>
        <li class="[object Object]"><a href="https://www.gob.mx/misalud/registrate.html">Regístrate</a></li>
        <li><a href="https://www.facebook.com/SecretariadeSaludMX/" target="_blank" aria-label="Facebook de misalud" class="fb-icon"><img src="assets/img/ic-fb.png" alt="facebook"/></a></li>
        <li><a href="https://twitter.com/SSalud_mx" target="_blank" aria-label="Twitter de misalud" class="tt-icon"><img src="assets/img/ic-tt.png" alt="twitter"/></a></li>
      </ul>
    </div>
  </div>
</nav>
